@import url("https:fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap");
html, body {
  width: 100% !important;
  overflow-x: hidden !important;
  background-color: #dcdcdc;
}

h1 {
  color: #000000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

h2 {
  color: black;
  text-decoration: underline;
}

p {
  color: #000000;
  font-size: 15px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #2960c7;
  background-color: #929292;
  gap: 300px;
  width: 100%;
  height: 10%;
}

.icons {
  width: 400px;
  height: 90px;
  color: #f01414;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.icons .bi-whatsapp,
.icons .bi-facebook,
.icons .bi-instagram {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 20px;
  height: 20px;
  color: #6b0c0c;
}

.logo img {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: start;
  margin-top: 5px;
}

.textito {
  font-style: italic;
  width: 500px;
  font-size: 25px;
  color: #f01414;
  background-color: black;
  border-radius: 10px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: #929292 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: darkgrey;
}

.offcanvas-body, .offcanvas-header {
  background-color: #929292;
}

.navbar .navbar-nav {
  display: flex;
  list-style-type: none;
  text-align: right;
  text-decoration: none;
}

.navbar-nav {
  display: inline;
  font-style: italic;
  color: #f01414;
  border-radius: 10px;
  gap: 10px;
}

.nav-link {
  background-color: #000000;
  border-radius: 10px;
}
.nav-link:hover {
  background-color: #e65757;
}

.navbar a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #f01414;
  font-size: 25px;
  text-decoration: none;
}

.navbar a img {
  width: 90px;
  height: 90px;
}

.ubicacion {
  display: flex;
  font-style: italic;
  padding: 50px;
}

.ubicacion {
  background-color: #8da1fa;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 20px;
  margin: 15px;
}

.map {
  display: flex;
  height: 450px;
  width: 600px;
  justify-content: center;
}

.form {
  padding: 150px;
  margin: 50px;
  background-color: #929292;
  border-radius: 10%;
}

.grilla {
  display: grid;
  display: flex;
  color: #000000;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.grilla img {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  gap: 25px;
}

.nosotro {
  background-color: darkgrey;
}
.nosotro h1, .nosotro h2, .nosotro p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nosotro ul, .nosotro li {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.ser {
  background-color: darkgrey;
}
.ser h2 {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.ser .accordion {
  margin-bottom: 15px;
}
.ser ul, .ser li {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.accordion, .accordion-item {
  background-color: #929292;
}

.accordion-button {
  background-color: rgba(241, 2, 2, 0.6509803922);
}

.accordion-button:hover {
  background-color: #921010;
}

h5 {
  color: aliceblue;
}

.conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  display: flex;
  width: 300px;
  height: 450px;
  padding: 20px;
  margin: 20px;
  justify-content: center;
  background-color: #929292;
}
.card img-top {
  display: flex;
  background-color: #929292;
  width: 100px;
  height: 100px;
  margin: 75px;
  object-fit: cover;
  justify-content: center;
  align-self: flex-end;
}

.card-text {
  color: black;
}

.btn-primary {
  background-color: #f01414;
  border-color: #f01414;
  display: flex;
  justify-content: center;
}

.btn-primary:hover {
  background-color: #921010;
  border-color: #921010;
}

.div label input {
  margin: 20px;
}

.carr {
  width: 1000px;
  height: 700px;
  display: flex;
  object-fit: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-inner, .carousel-slide {
  width: 100%;
  height: 600px;
  margin-left: 120px;
  display: flex;
  object-fit: cover;
}

.titulo {
  font-style: italic;
  color: black;
  font-size: 35px;
  margin: 20px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .menu-navegador {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grilla {
    display: grid;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    justify-content: center;
    align-items: center;
  }
  .fot img {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    gap: 25px;
  }
  .carr {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 800px;
    height: 500px;
    margin: 50px;
    gap: 10px;
  }
  .icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 25px;
    margin-top: 10px;
  }
  .navbar a {
    display: flex;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #f01414;
    font-size: 25px;
    justify-content: center;
  }
  .nav-link {
    width: 150px;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 865px) {
  .carr {
    display: flex;
    overflow: hidden;
    width: 700px;
    height: 400px;
    margin: 90px;
  }
  .carousel-inner,
  .carousel-slide {
    margin-left: -120px;
  }
  .carousel-inner .footer,
  .carousel-slide .footer {
    display: flex;
    gap: 180px;
  }
  .carousel-inner .icons,
  .carousel-slide .icons {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: flex-end;
    gap: 25px;
    margin: 10px, 20px;
  }
  .navbar a {
    display: flex;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #f01414;
    font-size: 25px;
    justify-content: center;
  }
  .nav-link {
    width: 150px;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 768px) {
  .menu-navegador {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .carr {
    display: flex;
    overflow: hidden;
    width: 600px;
    height: 500px;
    margin-left: 120px;
  }
  .conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer {
    display: flex;
    gap: 130px;
  }
  .ser {
    gap: 0px;
  }
  .mul {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  .navbar a {
    display: flex;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #f01414;
    font-size: 25px;
    justify-content: center;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  .nav-link {
    width: 150px;
  }
}
@media only screen and (max-width: 480px) {
  .menu-navegador {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .menu-navegador a {
    margin: 20px;
  }
  .menu-navegador ul,
  li {
    font-size: 15px;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .footer .logo img {
    margin-top: 15px;
    width: 80px;
    height: 80px;
  }
  .textito {
    margin-top: 20px;
    font-size: 18px;
    width: 250px;
  }
  .grilla {
    display: grid;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    justify-content: center;
    align-items: center;
  }
  .fot img {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    gap: 25px;
  }
  .conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    display: flex;
    align-self: center;
    justify-content: center;
  }
  .carr {
    display: flex;
    height: 300px;
    margin: 5px;
    margin-left: -55px;
  }
  .carousel-inner,
  .carousel-slide {
    width: 300px;
    height: 100%;
    margin-left: -120px;
  }
  .map {
    width: 300px;
    height: 250px;
  }
  .form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
  }
  .col-md-4,
  .col-md-6,
  .col-md-3 {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 100px;
  }
  .col-12 {
    height: 150px;
  }
  .form-select, .form-control {
    height: 50px;
  }
  ul, li {
    display: flex;
    flex-direction: column;
  }
  .ser {
    margin: 5px;
  }
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 75px;
  }
  .icons .bi-whatsapp, .icons .bi-facebook, .icons .bi-instagram {
    width: 25px;
    height: 25px;
    color: #6b0c0c;
  }
  .navbar a {
    display: flex;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #f01414;
    font-size: 25px;
    justify-content: center;
  }
  .nav-link {
    width: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
