
h5{
    color: aliceblue;
}

.conteiner {
display: flex;
flex-direction: row;
justify-content: space-between;
}
.card{
    display: flex;

    width: 300px;
    height: 450px;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    background-color: #929292;

    & img-top{
        display: flex;
        background-color: #929292;
            width: 100px;
        height: 100px;
        margin: 75px;
        object-fit: cover;
        justify-content: center;
        align-self: flex-end;
    }
}

.card-text{
    color: black;
}

.btn-primary{
    background-color: #f01414;
    border-color: #f01414;
    display: flex;
    justify-content:center;
}

    .btn-primary:hover {
        background-color: #921010;
        border-color: #921010;
    }



.div label input {
    margin: 20px;

}


.carr{
    width: 1000px;
    height: 700px;
    display: flex;
    object-fit: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-inner, .carousel-slide{
    width: 100%;
    height: 600px;
    margin-left: 120px;
    display: flex;
    object-fit: cover;
}

.titulo{
    font-style: italic;
    color:black;
    font-size: 35px;
    margin: 20px;
    display: flex;
    justify-content: center;

}

