.ser{
    background-color: darkgrey;

 
& h2{
    display: flex;
    justify-content: center;
    gap: 20px;
}

& .accordion{
     margin-bottom: 15px;
 }

 ul, li{
    display: flex;
    justify-content: center;
    gap: 30px;
 }
}


.accordion, .accordion-item{
    background-color: #929292;
}

.accordion-button{
    background-color:#f10202a6 ;
    
}
.accordion-button:hover{
    background-color: #921010;
}